name = "Spinglass"
uuid = "0a303999-d7af-4ce6-be35-aa14885e5515"
authors = ["GiggleLiu"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
